@import '../icons/icomoon/style.css';

:root {
    --h2: 600 1.625rem Poppins;
    --gray10: #F3F6F6;
    --gray20: #E3E3E3;
    --white: #FFFFFF;

    --colorBox1: #FFF4F4;
    --colorBox2: #EEF5FA;
    --colorBox3: #FFF1FB;
    --colorBox4: #F2F4FF;
    --colorBox5: #FEFAF0;
    --colorBox6: #FFF0F8;

    --font-color1: #b578ff;
    --font-color2: #f06d8f;
    --font-color3: cadetblue;
    --font-color4: #1da1f2;
    --font-color5: #269fff;
    --font-color6: #ff75d8;
    --font-color7: #ff6080;
    --font-color8: #b578ff;
    --font-color9: #dda10c;
    --font-color10: #3e32ee;
    --font-color11: #0A66C2;

    --hover: rgb(250, 176, 196);
}

body {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: px px 100px;
    inline-size: 100%;
    row-gap: 5px;
}

header {
    border-radius: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row-reverse;
}

nav {
    background-color: var(--white);
    display: flex;
    padding-block: 5px;
    padding-inline: 5px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

.nav-box {
    padding-block: 16px;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray10);
    transition: 0s background-color;
    inline-size: 25px;
    block-size: 30px;
    border-radius: 16px;
    justify-content: center;
    text-align: center;
}

.nav-box i {
    font-size: 24px;
}

.nav-box a {
    text-decoration: none;
}

.nav-box:hover {
    background: var(--hover);
    transition-delay: 0.1s;
}

nav .nav-box:nth-of-type(1) i {
    color: var(--font-color1);
}

nav .nav-box:nth-of-type(2) i {
    color: var(--font-color2);
}

nav .nav-box:nth-of-type(3) i {
    color: var(--font-color3);
}

nav .nav-box:nth-of-type(4) i {
    color: var(--font-color4);
}

main {
    background: var(--white);
    margin-block-start: 180px;
    margin-block-end: 24px;
    border-radius: 20px;
}

/* details */

.main-wrapper {
    /* margin-block-start: 100px; */
    text-align: center;
    padding-inline: 24px;
    padding-block-end: 24px;
}

.main-wrapper h1,
h2 {
    font-weight: 300;
}

.main-wrapper h1 {
    font-weight: 600;
}

.main-wrapper img {
    border-radius: 16px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
    transform: translate(0, -50%);
    margin-block-end: -125px;
    object-fit: cover;
}

.mainWrapper-socialIcons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block-end: 50px;
}

.mainWrapper-socialIcons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray10);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    transition: 0s background-color;
    text-decoration: none;
}

.mainWrapper-socialIcons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray10);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    transition: 0s background-color;
    text-decoration: none;
    font-size: 30px;
}

.mainWrapper-socialIcons a:nth-of-type(1) i {
    color: var(--font-color4)
}

.mainWrapper-socialIcons a:nth-of-type(2) i {
    color: black;
}

.mainWrapper-socialIcons a:nth-of-type(3) i {
    color: var(--font-color11)
}

.mainWrapper-socialIcons a:hover {
    background: var(--hover);
    transition-delay: 0.1s;
}

.mainWrapper-personalInfo {
    background: var(--gray10);
    margin-block-start: 28px;
    padding-block: 28px;
    padding-inline: 28px;
    border-radius: 1rem;
}

.mainWrapperPersonalInfo-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-block: 10px;
    border-block-end: solid 1px var(--gray20);
    inline-size: 100%;
}

.mainWrapper-personalInfo .mainWrapperPersonalInfo-item:nth-last-child(1) {
    border-block-end: none;
}

.mainWrapperPersonalInfoItem-text {
    display: block;
    text-align: left;
    margin-inline-start: 16px;
    text-overflow: "-";
    overflow: hidden;
    /* Oculta el contenido que sobresale */
    word-wrap: break-word;
}

.mainWrapperPersonalInfoItem-text p {
    margin: 0;
}

.mainWrapperPersonalInfoItem-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10px;
}

section {
    background: var(--white);
    margin-block-end: 24px;
    border-radius: 20px;
}

section h2 {
    font-weight: 800;
}

.section-wrapper {
    padding-inline: 24px;
    padding-block: 24px;
}

.mainWrapperPersonalInfo-item:nth-of-type(1) i {
    color: var(--font-color3)
}

.mainWrapperPersonalInfo-item:nth-of-type(2) i {
    color: var(--font-color1)
}

.mainWrapperPersonalInfo-item:nth-of-type(3) i {
    color: var(--font-color2)
}

.mainWrapperPersonalInfo-item:nth-of-type(4) i {
    color: var(--font-color4)
}

/* Global color boxes */
.boxes-color>div:nth-of-type(1) {
    background-color: var(--colorBox1);
}

.boxes-color>div:nth-of-type(2) {
    background-color: var(--colorBox2);
}

.boxes-color>div:nth-of-type(3) {
    background-color: var(--colorBox3);
}

.boxes-color>div:nth-of-type(4) {
    background-color: var(--colorBox4);
}

.boxes-color>div:nth-of-type(5) {
    background-color: var(--colorBox5);
}

.boxes-color>div:nth-of-type(6) {
    background-color: var(--colorBox6);
}

.boxes-color>div:nth-of-type(7) {
    background-color: var(--colorBox1);
}

.boxes-color>div:nth-of-type(8) {
    background-color: var(--colorBox2);
}

.boxes-color>div:nth-of-type(9) {
    background-color: var(--colorBox3);
}

/* About Me */

.aboutMe-info {
    line-height: 2.5;
}

.aboutMe-boxes {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    block-size: 100%;
}

.aboutMeBoxes-details {
    display: grid;  
    grid-template-columns: 30px 1fr;
    block-size: 100%;
    border-radius: 16px;
    padding-inline: 10px;
    padding-block: 10px;
}

.aboutMeBoxesDetails-title {
    writing-mode: vertical-rl;
    text-orientation: upright; 
    white-space: nowrap; 
    border-block-start: 2px solid var(--font-color4);
    padding-block-start: 5px;
    font-weight: 300;
}

.aboutMeBoxesDetails-tags {
    margin-inline-start: 20px;
}

.aboutMeBoxesDetails-tags span {
    padding-inline: 10px;
    padding-block: 5px;
    margin-inline: 5px;
    margin-block: 5px;
    border-radius: 16px;
    background-color: var(--white);
    line-height: 2.5;
}

.aboutMe-boxes .aboutMeBoxes-details:nth-of-type(1) i {
    color: var(--font-color1)
}

.aboutMe-boxes .aboutMeBoxes-details:nth-of-type(2) i {
    color: var(--font-color2)
}

.aboutMe-boxes .aboutMeBoxes-details:nth-of-type(3) i {
    color: var(--font-color3)
}

.aboutMe-boxes .aboutMeBoxes-details:nth-of-type(4) i {
    color: var(--font-color4)
}

.aboutMe-boxes .aboutMeBoxes-details:nth-of-type(5) i {
    color: var(--font-color6)
}

/* .aboutMeBoxesDetails-tags {
    display: flex;
    flex-direction: row;
} */

/* Experience */

.experience-boxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20, px);
    gap: 10px;
}

.experience-boxes h1 {
    border-radius: 16px;
    padding-inline: 5px;
    padding-block: 5px;
}

.experienceBoxes-box {
    border-radius: 16px;
    padding-inline: 20px;
    padding-block: 5px;
}

.experienceBoxes-box span {
    font-weight: 300;
    font-style: italic;
    padding-inline: 5px;
    padding-block: 5x;
    border-radius: 16px;
    display: flex;
    justify-content: right;
}

.experienceBoxes-box p {
    margin: 0;
    font-weight: 800;
}

.experienceBoxes-box ul {
    margin: 0;
    font-weight: 300;
}

.experienceBoxes-box a {
    text-decoration: none;
    font-size: 48px;
    padding-inline: 20px;
    color: var(--font-color5)
}

/* education */

.education-boxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20, px);
    gap: 10px;
}

.educationBoxes-box {
    border-radius: 16px;
    padding-inline: 20px;
    padding-block: 5px;
}

.educationBoxes-box a {
    text-decoration: none;
    font-size: 48px;
    padding-inline: 20px;
    padding-block: 20px;
    margin-inline-end: 10px;
    background-color: var(--white);
    border-radius: 16px;
    color: var(--font-color5);
}

.educationBoxes-box a:hover {
    background: var(--hover);
}

.educationBoxes-box span {
    font-weight: 300;
    font-style: italic;
    padding-inline: 5px;
    padding-block: 5x;
    border-radius: 16px;
    display: flex;
    justify-content: right;
}

.educationBoxesBox-icon {
    display: flex;
    align-items: center;
}

/* Proyects */

.proyectBoxes-box {
    border-radius: 16px;
    padding-inline: 5px;
    padding-block: 5px;
    margin-block-end: 20px;
}

.proyectBoxesBox-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: px;
    margin-inline: 16px;
    margin-block: 16px;
}

.proyectBoxesBoxHeader-links {
    display: flex;
    align-items: center;
    justify-content: right;
}

.proyectBoxesBoxHeader-links i {
    font-size: 28px;
}

.proyectBoxesBoxHeader-links a {
    background-color: var(--white);
    margin-inline-start: 20px;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--font-color5);
}

.proyectBoxesBoxHeader-links a:hover {
    background-color: var(--hover);
}

.proyectBoxesBox-info {
    display: flex;
    align-items: center;
    margin-inline: 16px;
    margin-block: 16px;
}

.proyectBoxesBox-info img {
    border-radius: 24px;
}

/* Footer */
footer {
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: inset 0 0 0 2px var(--font-color8);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .menu {
        display: none;
    }
}

@media screen and (min-width: 900px) {

    nav {
        display: none;
    }

    .layout {
        margin: 0 auto;
    }

    .layout-wrapper {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: px px px;
        column-gap: 40px;
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    main {
        grid-row-start: 2;
        grid-row-end: 4;
        block-size: 100dvh;
        position: sticky;
        top: 220px;
    }

    .aboutMe-boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .aboutMeBoxes-details {
        margin-inline: 20px;
        block-size: 250px;
    }

    .menu-wrapper {
        background-color: var(--white);
        margin-block-start: 180px;
        margin-block-end: 40px;
        display: flex;
        padding-block: 30px;
        padding-inline: 30px;
        flex-direction: row;
        justify-content: end;
        gap: 20px;
        border-radius: 16px;
        margin-inline-start: 150px;
    }

    .menuWrapper-box {
        padding-block: 16px;
        padding-inline: 16px;
        display: flex;
        flex-direction: column;
        background-color: var(--gray10);
        transition: 0s background-color;
        inline-size: 75px;
        block-size: 80px;
        border-radius: 16px;
        justify-content: center;
        text-align: center;
    }

    .menuWrapper-box:hover {
        background: rgb(250, 176, 196);
        transition-delay: 0.1s;
    }

    .menu-wrapper a {
        text-decoration: none;
    }

    .menu-wrapper i {
        font-size: 48px;
    }

    .menu-wrapper .menuWrapper-box:nth-of-type(1) i {
        color: var(--font-color1)
    }

    .menu-wrapper .menuWrapper-box:nth-of-type(2) i {
        color: var(--font-color2)
    }

    .menu-wrapper .menuWrapper-box:nth-of-type(3) i {
        color: var(--font-color3)
    }

    .menu-wrapper .menuWrapper-box:nth-of-type(4) i {
        color: var(--font-color4)
    }
}